affine
attrs
backports.zstd
branca
Brotli
Cartopy
certifi
cftime
charset-normalizer
click
click-plugins
cligj
colorama
contourpy
cycler
fiona
folium
fonttools
geopandas
h2
hpack
hyperframe
idna
Jinja2
joblib
kiwisolver
mapclassify
MarkupSafe
matplotlib==3.10.8
munkres==1.1.4
netCDF4
networkx
numpy
packaging
pandas
pillow
pyogrio
pyparsing
pyproj
pyshp
PySocks
python-dateutil
pytz
rasterio
requests
scikit-learn
scipy
shapely
six
snuggs
threadpoolctl
tqdm
tzdata
unicodedata2
urllib3
xarray
xyzservices
